<div class="stun-server">
	<input type="text" name="stun_server" placeholder="stunserver:port" value="{{server}}" aria-label="{{stunTXT}}" />
	<a class="icon icon-delete" title="{{deleteTXT}}"></a>
	<a class="icon icon-add" title="{{newTXT}}"></a>
	<span class="icon icon-checkmark-color hidden" title="{{savedTXT}}"></span>
</div>
