<div class="room-name-container">
	<div class="room-name"></div>
	{{#if isRoomForFile}}
	<a class="file-link" href="{{fileLink}}" target="_blank" rel="noopener noreferrer" data-original-title="{{fileLinkTitle}}">
		<span class="icon icon-file"></span>
	</a>
	{{/if}}
</div>
<div class="call-controls-container">
	<div class="call-button"></div>
	{{#if canModerate}}
	<div class="share-link-options">
		{{#if canFullModerate}}
		<input name="link-checkbox" id="link-checkbox" class="checkbox link-checkbox" value="1" {{#if isPublic}} checked="checked"{{/if}} type="checkbox">
		<label for="link-checkbox" class="link-checkbox-label">{{linkCheckboxLabel}}</label>
		{{/if}}
		{{#if isPublic}}
		<div class="clipboard-button"><button class="button icon-clippy"></button></div>
		<div class="password-button">
			<div class="menutoggle"><button class="button {{#if hasPassword}}icon-password{{else}}icon-no-password{{/if}}"></button></div>
			<div class="popovermenu password-menu menu-right">
				<ul>
					<li>
						<span class="menuitem {{#if hasPassword}}icon-password{{else}}icon-no-password{{/if}} password-option">
							<form class="password-form">
								<input class="password-input" maxlength="200" type="password"
									placeholder="{{passwordInputPlaceholder}}">
								<input type="submit" value="" autocomplete="new-password" class="icon icon-confirm password-confirm"></input>
								<span class="icon icon-loading-small password-loading hidden"/>
							</form>
						</span>
					</li>
				</ul>
			</div>
		</div>
		{{/if}}
	</div>
	{{/if}}
	{{#if showShareLink}}
	<div class="share-link-options">
		<div class="clipboard-button"><button class="button icon-clippy"></button></div>
	</div>
	{{/if}}
</div>
