{{#if isInCall}}
	<button class="leave-call primary">{{leaveCallText}}<span class="icon icon-loading-small hidden"></span></button>
{{else}}
	{{#if isReadOnly}}
		<button class="join-call primary has-tooltip" title="{{readOnlyText}}" disabled="">{{startCallText}}</button>
	{{else}}
		{{#if hasCall}}
			<button class="join-call call-ongoing primary">{{joinCallText}}<span class="icon icon-loading-small hidden"></span></button>
		{{else}}
			<button class="join-call primary">{{startCallText}}<span class="icon icon-loading-small hidden"></span></button>
		{{/if}}
	{{/if}}
{{/if}}
