<div class="room-name-container">
	<div class="room-name"></div>
	{{#if isRoomForFile}}
	<a class="file-link" href="{{fileLink}}" target="_blank" rel="noopener noreferrer" data-original-title="{{fileLinkTitle}}">
		<span class="icon icon-file"></span>
	</a>
	{{/if}}
</div>
<div class="call-controls-container">
	<div class="call-button"></div>
	{{#if isPublic}}
	<div class="clipboard-button"><button><span class="icon icon-clippy"/><span>{{copyLinkLabel}}</span></button></div>
	{{/if}}
	{{#if showRoomModerationMenu}}
	<div class="room-moderation-button">
		<div class="menutoggle">
			<button class="button icon-more"></button>
		</div>
		<div class="popovermenu bubble menu">
			<ul>
				{{#if canFullModerate}}
				<li>
					<span class="menuitem caption">
						<span>{{linkLabel}}</span>
					</span>
				</li>
				<li>
					<span class="menuitem">
						<input name="link-checkbox" id="link-checkbox" class="checkbox link-checkbox" value="1" {{#if isPublic}} checked="checked"{{/if}} type="checkbox">
						<label for="link-checkbox" class="checkbox-label link-checkbox-label">{{linkCheckboxLabel}}</label>
					</span>
				</li>
				{{/if}}
				{{#if isPublic}}
				<li>
					<span class="menuitem {{#if hasPassword}}icon-password{{else}}icon-no-password{{/if}} password-option">
						<form class="password-form">
							<input class="password-input" maxlength="200" type="password"
								placeholder="{{passwordInputPlaceholder}}">
							<input type="submit" value="" autocomplete="new-password" class="icon icon-confirm password-confirm">
							<span class="icon icon-loading-small password-loading hidden"/>
						</form>
					</span>
				</li>
				{{/if}}
				{{#if canFullModerate}}
				<li>
					<div class="separator"></div>
				</li>
				<li>
					<span class="menuitem caption">
						<span>{{webinarLabel}}</span>
					</span>
				</li>
				<li class="item-has-details">
					<span class="menuitem">
						<input name="lobby-checkbox" id="lobby-checkbox" class="checkbox lobby-checkbox" value="1" {{#if isLobbyActive}} checked="checked"{{/if}} type="checkbox">
						<label for="lobby-checkbox" class="checkbox-label lobby-checkbox-label">{{lobbyCheckboxLabel}}</label>
					</span>
					<span class="menuitem-details">{{lobbyCheckboxDetail}}</span>
				</li>
				{{#if isLobbyActive}}
				<li>
					<span class="menuitem icon-calendar-dark lobby-timer-option">
						<form class="lobby-timer-form">
							<div class="lobby-timer-picker"/>
							<input type="submit" value="" class="icon icon-confirm lobby-timer-confirm">
							<span class="icon icon-loading-small lobby-timer-loading hidden"/>
						</form>
					</span>
				</li>
				{{/if}}
				{{/if}}
			</ul>
		</div>
	</div>
	{{/if}}
</div>
