<div class="newCommentRow comment">
	<div class="authorRow currentUser">
		<div class="avatar" data-user-id="{{actorId}}"></div>
		{{#if isGuest}}
			<div class="guest-name"></div>
		{{else}}
			<div class="author">{{actorDisplayName}}</div>
		{{/if}}
	</div>
	<form class="newCommentForm{{#if canShare}} with-add-button{{/if}}">
		<div contentEditable="{{#if isReadOnly}}false{{else}}true{{/if}}" class="message" data-placeholder="{{newMessagePlaceholder}}">{{message}}</div>
		<input class="submit icon-confirm has-tooltip" type="submit" {{#if isReadOnly}}disabled=""{{/if}} value="" title="{{submitText}}"/>
		<div class="submitLoading icon-loading-small hidden"></div>
		{{#if canShare}}
		<button class="share icon-add has-tooltip" title="{{shareText}}"></button>
		<div class="shareLoading icon-loading-small hidden"></div>
		{{/if}}
	</form>
</div>
