<li class="comment{{#if isNotSystemMessage}}{{else}} systemMessage{{/if}}" data-id="{{id}}">
	<div class="authorRow{{#if isUserAuthor}} currentUser{{/if}}{{#if isGuest}} guestUser{{/if}}">
		{{#if isNotSystemMessage}}
		<div class="avatar" data-user-id="{{#if isGuest}}guest/{{/if}}{{actorId}}" data-user-display-name="{{actorDisplayName}}"></div>
		<div class="author">{{actorDisplayName}}</div>
		{{/if}}
	</div>
	<div class="contentRow">
		<div class="message">{{{formattedMessage}}}</div>
		<div class="date has-tooltip" data-timestamp="{{timestamp}}" title="{{altDate}}">{{date}}</div>
	</div>
</li>
