<div class="label-wrapper">
	<{{labelTagName}} class="label">{{text}}</{{labelTagName}}>
	{{#if editionEnabled}}
	<div class="edit-button"><span class="icon button icon-rename" {{#if buttonTitle}} title="{{buttonTitle}}" {{/if}}></span></div>
	{{/if}}
</div>
{{#if editionEnabled}}
<div class="input-wrapper hidden-important">
	<input class="username" {{#if inputMaxLength}} maxlength="{{inputMaxLength}}" {{/if}} type="text" value="{{inputValue}}" {{#if inputPlaceholder}} placeholder="{{inputPlaceholder}}" {{/if}}>
	<input type="submit" value="" class="icon icon-confirm confirm-button">
</div>
{{/if}}
