<div id="muteWrapper">
	<button id="mute" class="icon-audio force-icon-white-in-call icon-shadow" data-placement="top" data-toggle="tooltip" data-original-title="{{muteAudioButtonTitle}}"></button>
	<span class="volume-indicator"></span>
</div>
<button id="hideVideo" class="icon-video force-icon-white-in-call icon-shadow" data-placement="top" data-toggle="tooltip" data-original-title="{{hideVideoButtonTitle}}"></button>
<button id="screensharing-button" class="app-navigation-entry-utils-menu-button icon-screen-off force-icon-white-in-call icon-shadow screensharing-disabled" data-placement="top" data-toggle="tooltip" data-original-title="{{screensharingButtonTitle}}"></button>
<div id="screensharing-menu" class="app-navigation-entry-menu">
	<ul>
		<li id="share-screen-entry">
			<button id="share-screen-button">
				<span class="icon-screen"></span>
				<span>{{shareScreenButtonTitle}}</span>
			</button>
		</li>
		<li id="share-window-entry">
			<button id="share-window-button">
				<span class="icon-share-window"></span>
				<span>{{shareWindowButtonTitle}}</span>
			</button>
		</li>
		<li id="show-screen-entry">
			<button id="show-screen-button">
				<span class="icon-screen"></span>
				<span>{{showScreenButtonTitle}}</span>
			</button>
		</li>
		<li id="stop-screen-entry">
			<button id="stop-screen-button">
				<span class="icon-screen-off"></span>
				<span>{{stopScreenButtonTitle}}</span>
			</button>
		</li>
	</ul>
</div>
