<a class="participant-entry-link" href="#" data-sessionId="{{sessionId}}">
	<div class="avatar"></div>
	{{name}}
	{{#if participantIsOwner}}<span class="participant-moderator-indicator">{{moderatorIndicator}}</span>{{/if}}
	{{#if participantIsModerator}}<span class="participant-moderator-indicator">{{moderatorIndicator}}</span>{{/if}}
	{{#if participantIsGuestModerator}}<span class="participant-moderator-indicator">{{moderatorIndicator}}</span>{{/if}}
	{{#if inCall}}<span class="icon icon-video"></span>{{/if}}
</a>
{{#if canModerate}}
<div class="participant-entry-utils">
	<ul>
		<li class="participant-entry-utils-menu-button">
			<button class="icon icon-more"></button>
			<span class="icon icon-loading-small hidden"></span>
		</li>
	</ul>
</div>
<div class="popovermenu bubble menu">
	<ul class="popovermenu-list">
		{{#if canBeDemoted}}
		<li>
			<button class="demote-moderator">
				<span class="icon icon-rename"></span>
				<span>{{demoteModeratorText}}</span>
			</button>
		</li>
		{{else}}
		{{#if canBePromoted}}
		<li>
			<button class="promote-moderator">
				<span class="icon icon-rename"></span>
				<span>{{promoteModeratorText}}</span>
			</button>
		</li>
		{{/if}}
		{{/if}}
		<li>
			<button class="remove-participant">
				<span class="icon icon-delete"></span>
				<span>{{removeParticipantText}}</span>
			</button>
		</li>
	</ul>
</div>
{{/if}}
