<a href="{{link}}" class="filePreviewContainer" target="_blank" rel="noopener noreferrer">
	<span class="filePreview" data-file-id="{{id}}" data-mimetype="{{mimetype}}" data-preview-available="{{preview-available}}"></span>
	<strong>{{name}}</strong>
</a>
